**/build/**
**/.vscode/**
**/__pycache__/**
*.orig
.DS_Store

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Python
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
downloads/
.eggs/

# Virtual environments
venv/
ENV/
env/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# OS
Thumbs.db
